.flexbox-container{
display:flex;
justify-content: center;
}
.flexbox-item{
  background-color: #A9A9A9;
  border:3px solid #333;
}

.flexbox-item-1{
  min-height: 100px;
  width:100%;
}

.flexbox-item-1 h1{
  text-align: center;
  font-family:sans-serif, sans-serif;
}
.flexbox-item-2{
  margin-top: 10px;
  min-height:100%;
  width:15%;
  margin-left:10px;
  margin-bottom:10px;
}

@media only screen and (max-width: 800px){
  .flexbox-item-2{
    margin-top: 10px;
    min-height:100%;
    width:25%;
  }
  .information-item-1{
    min-height:50%;
    width:60%;
    margin-top:10px;
    margin-left:25px;
    text-indent:25px;
  }
}

.flexbox-item-2 h1{
  text-align: center;
  font-family:sans-serif, sans-serif;
}
.flexbox-item-2 h2{
  text-align: left;
  font-family:sans-serif, sans-serif;
  font-size:15px;
}

.index-container{
  display:flex;
  justify-content: flex-start;
  flex-flow:wrap;
}

body{
  margin:0;
}
img{
  width:100%;
  height:300px;
}



.information-item-1{
  min-height:50%;
  width:70%;
  margin-top:10px;
  margin-left:25px;
  text-indent:25px;

}

.information-item-1 ol{
  margin:20px;
}





.index-container p{
  font-size:17px;
  font-family:serif, sans-serif;

}
.information-item-1 img{
  width:150px;
  height:150px;
  float:left;
  margin-right:20px;
}
.information-item-1 h2{
  background-color: #8FBC8F;
}
.clear{
  clear:both
}

a{
  font-size:17px;
  font-family:serif, sans-serif;
}

.flash-cards{
  display:flex;
  justify-content: center;
}

footer h1{
    background-color: #8FBC8F;
    margin: 0px;
    text-align:center;
}

.flash-cards-item{

  border:3px solid #333;
}

.flash-cards-item-1{
  width:400px;
  background-color: #A9A9A9;
  height:300px;
  margin-top:25px;
  margin-bottom:25px;
  margin-right:0px;
}

.flash-cards-item-2{
  width:150px;
  background-color: #A9A9A9;
  height:300px;
  margin-top:25px;
  margin-bottom:25px;
  margin-right:0px;
}
.card{
  width:300px;
  height:200px;
  background-color:white;
  margin:45px;

}

.flash-cards ul{
  list-style-type: none;
}

.flash-cards button{
  background-color:#DCDCDC;
  width:100px;
  height:20px;
  margin-left:0px;
  border:1px solid #333;
}
